In [ ]:
#break and continue
for i in range(1,6):
  if i==3 :
    continue;
  print(i,11-i)

1 10
2 9
4 7
5 6

In [ ]:
# Neseted Loop
# outer loop represent rows
# inner loop represent coloumns

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
n=1
for i in range(1,5):
  for j in range(1,5):
    print(n,end=" ")
    n+=1
  print()
5 6 7 8
9 10 11 12
13 14 15 16

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n=65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n),end=" ")
    n+=1
  print()

A B C D
E F G H
I J K L
M N O P

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end="")
  print()

1
22
333
4444

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
for i in range(1,5):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print()

   *
  **
 ***
****

In [ ]:
for i in range(1,5):
  for k in range(1,i):
    print(" ",end="")
  for j in range(1,6-i):
    print("*",end="")
  print()

****
 ***
  **
   *

To delete object use Del keyword

String in Python

Finding Substrings:
We can use the following 4 methods
For forward direction:
find()
For backward direction:
rfind()

Returns index of first occurrence of the given substring.
If it is not available then we will get -1

In [ ]:
#find() rfind()

s="Learning Python is very easy from Ashish Sir"
print(s.find("Python"))
print(s.find("Java"))
print(s.find("r"))
print(s.rfind("r"))

9
-1
3
43

In [ ]:
s="abcabcabcabcadda,"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,10))

6
4
3

In [ ]:
#s.replace(oldstring, newstring):
#inside s, every occurrence of oldstring will be replaced with
#newstring.
#Eg1:
s="Learning Python is very difficult from Ashish Sir"
s1=s.replace("difficult","easy")
print(s)
print(s1)
#Output :
#Learning Python is very easy from Ashish Sir

#Eg2: All occurrences will be replaced
s="ababababababab"
s1=s.replace("a","b")
print(s1)
#Output: bbbbbbbbbbbbbb

Learning Python is very difficult from Ashish Sir
Learning Python is very easy from Ashish Sir
bbbbbbbbbbbbbb

In [ ]:
s="Learning Python is very difficult from Ashish Sir"
l=s.split()
print(l)
print(type(l))
for x in l:
  print(x)

['Learning', 'Python', 'is', 'very', 'difficult', 'from', 'Ashish', 'Sir']
<class 'list'>
Learning
Python
is
very
difficult
from
Ashish
Sir

In [ ]:
s="22#02#2022"
l=s.split("#")
print(l)
print(type(l))
for x in l:
  print(x)

['22', '02', '2022']
<class 'list'>
22
02
2022

In [ ]:
#join function
l=["ayush","is","real","gay"]
s=" ".join(l)
print(s)

ayush is real gay

In [ ]:
a=s.upper()
print(a)
print(a.lower())
print(a.title())

AYUSH IS REAL GAY
ayush is real gay
Ayush Is Real Gay

In [ ]:
s = "Learning Python is very difficult from Ashish Sir"
print(s.lower())
print(s.upper())
print(s.startswith('Learning'))
print(s.endswith('Sir'))
print(s.endswith('sir'))

learning python is very difficult from ashish sir
LEARNING PYTHON IS VERY DIFFICULT FROM ASHISH SIR
True
True
False

In [ ]:
# To check type of characters present in a string:

# Python contains the following methods:
# 1) isalnum(): Returns True if all characters are alphanumeric
# ( a to z , A to Z ,0 to9 )
# 2) isalpha(): Returns True if all characters are only alphabet
# symbols(a to z,A to Z)
# 3) isdigit(): Returns True if all characters are digits only(
# 0 to 9)
# 4) islower(): Returns True if all characters are lower case
# alphabet symbolsI
# 5) isupper(): Returns True if all characters are upper case
# aplhabet symbols
# 6) istitle(): Returns True if string is in title case
# 7) isspace(): Returns True if string contains only spaces

In [ ]:
x=input("enter your mobile number:")
if x.isdigit() and len(x)==10:
  if(s.startswith('6') or s.startswith('7') or s.startswith('8') or s.startswith('9')):
    print("valid number")
  else:
    print("Not valid in Indian ")
else:
  print("enter 10 digit only")

enter your mobile number:657132145
enter 10 digit only

# List Operation

In [2]:
n1=[10,20,10,30]
n2=[2,42,4,24,2]
res=n1+n2
print(res)
res1=n1*3
print(res1)

[10, 20, 10, 30, 2, 42, 4, 24, 2]
[10, 20, 10, 30, 10, 20, 10, 30, 10, 20, 10, 30]

In [4]:
n=[10,20,30,[23,56,23]]
print(n[0])
print(n[2])
print(n[3])
print(n[3][0])

10
30
[23, 56, 23]
23

# Neseted List

In [6]:

n=[[10,20,30],[40,50,60], [70,80,90]]
print(n)
print("Elements by Row wise:")
for r in n:
  print(r)
print("Elements by Matrix style:")
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end=' ')
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by Row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
Elements by Matrix style:
10 20 30
40 50 60
70 80 90

In [3]:
#Capjemini Question

n = int(input("Enter no. of semesters: "))
noOfSub=[]
for i in range(n):
    m = int(input(f"Enter no of subject in {i+1} semester: "))
    noOfSub.append(m)
max_marks = []
for i in range(len(noOfSub)):
    marks=[]
    print(f"marks obtained in semester {i+1}")
    for j in range(noOfSub[i]):
        x = int(input())
        if(x>100):
            f = True
            while(f):
                print("you have entered marks greater than 100\nplease re enter")
                x=int(input())
                if(x<=100):
                    f=False
        marks.append(x)
    max_marks.append( max(marks))
for i in range(len(max_marks)):
    print(f"maximum mark in semester {i+1} :" , max_marks[i])

Enter no. of semesters: 1
Enter no of subject in 1 semester: 1
marks obtained in semester 1
101
you have entered marks greater than 100
please re enter
200
you have entered marks greater than 100
please re enter
1
maximum mark in semester 1 : 1

# SET Data Structure

In [2]:
#Remove Duplicate from list
list = [21,32,4,12,4,5,2,12,3,4,1,1,1,1,3,4,4]
print(list)
s = set(list)
print(s)

[21, 32, 4, 12, 4, 5, 2, 12, 3, 4, 1, 1, 1, 1, 3, 4, 4]
{32, 1, 2, 3, 4, 5, 12, 21}

# Dictionary Data Structure

In [3]:
d = {100:'ayush' , 200:'lakhan' , 300:'jash' , 400:'choco'}
d[101] = "Ayush"
d[102] = "Jassssh"
print(d)
d[100] = "Varun"
print(d)

{100: 'ayush', 200: 'lakhan', 300: 'jash', 400: 'choco', 101: 'Ayush', 102: 'Jassssh'}
{100: 'Varun', 200: 'lakhan', 300: 'jash', 400: 'choco', 101: 'Ayush', 102: 'Jassssh'}

In [6]:
rec={}
n=int(input("Enter number of students: "))
for i in range(0,n):
    name=input("Enter Student Name: ")
    marks=input("Enter % of Marks of Student: ")
    rec[name]=marks

print("Name\tMarks")
print("-------------------------")
for i in rec:
    print(i,"\t",rec[i])

Enter number of students:  2
Enter Student Name:  Jash Sexy
Enter % of Marks of Student:  69
Enter Student Name:  Ayus Gay
Enter % of Marks of Student:  66

Name	Marks
-------------------------
Jash Sexy 	 69
Ayus Gay 	 66

In [7]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
#print(d[400])
print(d.get(100))
print(d.get(400))
print(d.get(100,"Guest"))
print(d.get(400,"Guest"))

ashish
ashish
None
ashish
Guest

In [9]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.keys())
for k in d.keys():
    print(k)

dict_keys([100, 200, 300])
100
200
300

In [11]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.values())
for k in d.values():
    print(k)

dict_values(['ashish', 'Prashant', 'sandip'])
ashish
Prashant
sandip

In [1]:
d={}
sum=0
n=int(input("enter the number of values"))
for i in range(n):
    x=int(input(f"Enter the {i+1} value"))
    d[i]=x
for k,v in d.items():
    sum=sum+v
print(f"{sum} is the sum of value")
print(d)

enter the number of values 3
Enter the 1 value 2
Enter the 2 value 1
Enter the 3 value 3

6 is the sum of value
{0: 2, 1: 1, 2: 3}

In [3]:
dict = {}
n = int(input("Enter n: "))
for i in range(n):
    x  = (input("Enter name: "))
    y = int(input("Enter marks: "))
    dict[x] = y
z = input("whose marks? ")
print(dict[z])

Enter n:  2
Enter name:  Ayush
Enter marks:  98
Enter name:  Jash
Enter marks:  69
whose marks?  Ayush

98

In [23]:
arr=[1,3,2,4,2,34,5,6,7]
ans=[]
for i in range(len(arr)):
    max=-1
    for j in range(i+1,len(arr),1):
        if(arr[j]>arr[i] ):
            max=arr[j]
            break;    
    ans.append(max)     
print(ans)

[3, 4, 4, 34, 34, -1, 6, 7, -1]

In [37]:
s="aabbbbeeeeffggg"
ans=[]
c=1
for i in range(1,len(s)):
    if s[i]==s[i-1]:
        c+=1
    else:
        ans.append(s[i-1]+str(c))
        c=1
ans.append(s[-1]+str(c))
c_s=''.join(ans)
c_s

'a2b4e4f2g3'

In [47]:
str1 = input("Enter 1st String: ").lower()
str2 = input("Enter 2nd String: ").lower()

str1 = ''.join(sorted(str1))
str2 = ''.join(sorted(str2))

f = str1 == str2
print(f)

Enter 1st String:  varun
Enter 2nd String:  runva

True